@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(220 23.08% 94.9%); /* base */
  --foreground: hsl(234 16.02% 35.49%); /* text */
  --card: hsl(220 23.08% 94.9%); /* base */
  --card-foreground: hsl(234 16.02% 35.49%); /* text */
  --popover: hsl(220 23.08% 94.9%); /* base */
  --popover-foreground: hsl(234 16.02% 35.49%); /* text */
  --primary: hsl(109 57.64% 39.8%); /* accent - Green */
  --primary-foreground: hsl(220 23.08% 94.9%); /* base */
  --secondary: hsl(223 15.91% 82.75%); /* surface0 */
  --secondary-foreground: hsl(234 16.02% 35.49%); /* text */
  --muted: hsl(223 15.91% 82.75%); /* surface0 */
  --muted-foreground: hsl(233 12.8% 41.37%); /* subtext1 */
  --accent: hsl(223 15.91% 82.75%); /* surface0 */
  --accent-foreground: hsl(234 16.02% 35.49%); /* text */
  --destructive: hsl(347 86.67% 44.12%); /* red */
  --border: hsl(225 13.56% 76.86%); /* surface1 */
  --input: hsl(225 13.56% 76.86%); /* surface1 */
  --ring: hsl(234 16.02% 35.49%); /* text */
  --chart-1: hsl(345 57.65% 74.12%); /* red */
  --chart-2: hsl(185 37.25% 70.59%); /* teal */
  --chart-3: hsl(219 81.96% 78.43%); /* blue */
  --chart-4: hsl(35 61.18% 76.86%); /* yellow */
  --chart-5: hsl(113 32.94% 73.33%); /* green */
  --sidebar: hsl(218 25.1% 93.73%); /* mantle */
  --sidebar-foreground: hsl(234 16.02% 35.49%); /* text */
  --sidebar-primary: hsl(109 57.64% 39.8%); /* accent - Green */
  --sidebar-primary-foreground: hsl(220 23.08% 94.9%); /* base */
  --sidebar-accent: hsl(220 23.08% 94.9%); /* surface0 */
  --sidebar-accent-foreground: hsl(234 16.02% 35.49%); /* text */
  --sidebar-border: hsl(225 13.56% 76.86%); /* surface1 */
  --sidebar-ring: hsl(225 13.56% 76.86%); /* surface1 */
}

.dark {
  --radius: 0.625rem;
  --background: hsl(240 21.05% 14.9%); /* base */
  --foreground: hsl(226 63.93% 88.04%); /* text */
  --card: hsl(240 21.05% 14.9%); /* base */
  --card-foreground: hsl(226 63.93% 88.04%); /* text */
  --popover: hsl(240 21.05% 14.9%); /* base */
  --popover-foreground: hsl(226 63.93% 88.04%); /* text */
  --primary: hsl(115 54.1% 76.08%); /* accent - Green */
  --primary-foreground: hsl(240 21.05% 14.9%); /* base */
  --secondary: hsl(237 16.24% 22.94%); /* surface0 */
  --secondary-foreground: hsl(226 63.93% 88.04%); /* text */
  --muted: hsl(237 16.24% 22.94%); /* surface0 */
  --muted-foreground: hsl(227 35.29% 80%); /* subtext1 */
  --accent: hsl(237 16.24% 22.94%); /* surface0 */
  --accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --destructive: hsl(343 81.25% 74.9%); /* red */
  --border: hsl(234 13.21% 31.18%); /* surface1 */
  --input: hsl(234 13.21% 31.18%); /* surface1 */
  --ring: hsl(226 63.93% 88.04%); /* text */
  --chart-1: hsl(329 21.57% 37.25%); /* red */
  --chart-2: hsl(188 18.82% 37.25%); /* teal */
  --chart-3: hsl(221 27.45% 39.61%); /* blue */
  --chart-4: hsl(30 9.41% 42.35%); /* yellow */
  --chart-5: hsl(139 12.94% 38.04%); /* green */
  --sidebar: hsl(240 21.18% 14.12%); /* mantle */
  --sidebar-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-primary: hsl(115 54.1% 76.08%); /* accent - Green */
  --sidebar-primary-foreground: hsl(240 21.05% 14.9%); /* base */
  --sidebar-accent: hsl(240 21.05% 14.9%); /* surface0 */
  --sidebar-accent-foreground: hsl(226 63.93% 88.04%); /* text */
  --sidebar-border: hsl(234 13.21% 31.18%); /* surface1 */
  --sidebar-ring: hsl(234 13.21% 31.18%); /* surface1 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.keypears-prose {
  @apply prose prose-lg prose-slate dark:prose-invert text-gray-700 dark:text-gray-300;
}
