---
type ExternalUrl = `http://${string}` | `https://${string}`;

interface Props {
  href: ExternalUrl;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} class={className}>
  <slot />
</a>
